#iconClass img {
  width: 25px;
  height: 25px;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "DIN Pro", sans-serif;
  
  a {
    text-decoration: none;
    font-family: "DIN Pro";
  }
  p{
    font-weight: 500;
    font-size: 14px;
    
    
  }

  .bonus {
    font-size: 12px;
    font-weight: 900;
    color: black;
    width: 34px;
    height: 25px;
    background: linear-gradient(90deg, #E59219 0%, #F5D854 100%);
    border-radius: 13px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // --------------------------------HEADER
  header {
    font-size: 12px;
    display: flex;
    margin: auto;
    width: 90%;
    height: 60px;

    nav {
      width: 100%;
      display: flex;

      :first-child {
        font-size: 30px;
      }

      a {
        display: flex;
        align-items: center;
        color: #5698C4;
        font-weight: 900;

      }

      .avatar {
        img {
          position: relative;
          width: 32px;
          height: 32px;
        }
      }

      #iconClass {
        padding-left: 25%;
      }
    }
  }
}

// ------------------------------MAIN
// ----------------------1st-Block
.repostContainer {
  background: #EAEEF1;
  height: 10em;

  padding-top: 8%;

  .repost {
    padding: 25px 25px;
    font-size: 0.8em;
    background: #fff;
    width: 75%;
    border: 2px solid #5698C4;
    box-sizing: border-box;
    box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.0728034);
    border-radius: 12px;
    margin: 20px auto;
    text-align: center;

  }

  .bonus {
    margin-bottom: -33px;
    position: relative;
  }

  .repostButton {
    background-color: #5698C4;
    border-radius: 22.5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: 30%;
    height: 21px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -37px;
    padding: 5px 15px;
  }
}

// ----------------------2nd-Block

.trainInviteContainer {
  margin: 5% 5%;
  background-color: #F6E4E2;
  justify-content: space-between;
  display: flex;

  .leftside {
    padding-left: 15px;
    width: 40%;
    padding-bottom: 15px;


    #invitation {
      width: 150%;
      font-weight: 900;
      margin-top: 3%;
    }

    li {
      padding-top: 5px;
      font-size: 12px;


      img {
        padding-right: 5px;
        width: 10px;
        height: 15px;

      }
    }
  }

  .rightside {
    position: relative;

    img {
      position: absolute;
      padding-top: 0;
      height: 100%;
      right: 0;
      bottom: 0;
    }

    .bonus {
      z-index: 1;
      position: relative;
      top: 65%;
      right: 55%;
    }
  }
}

// ----------------------3rd-Block  
.categories {

  width: 90%;
  padding-left: 5%;

  .first {
    background: linear-gradient(270deg, #F6A997 0%, #CB5433 100%);
  }

  .second {
    background: linear-gradient(270deg, #F5D854 3.33%, #E97800 100%);
  }

  .third {
    background: linear-gradient(90deg, #6BA860 0%, #80C5A1 100%);
  }
}

.fourth {
  background: linear-gradient(90deg, #5698C4 0%, #AAD2BF 98.78%);
}

.fifth {
  background: linear-gradient(90deg, #475C6E 0.7%, #B6D1E8 96.67%);
}

h4 {
  font-weight: 500;
}

li {
  display: flex;
  border-radius: 22px;
  margin-top: 1%;

  a {
    width: 100%;
    padding: 12px 20px;
    color: #ffffff;

    img {
      float: right;
    }
  }



}
// ----------------------4th-Block
h2 {
  padding-left: 5%;
}

.bonusMenu {
  width: 90%;
  padding-left: 5%;
  display: flex;


  a {
    border-bottom: 1px solid #E9E9E9;
    width: 50%;
    padding-bottom: 16px;
    color: #000000;
  }

  a:active {
    border-bottom: 2px solid #5697C3;
    color: #5697C3;
  }
}

.table {
 
  width: 90%;
  margin: 5%;
  padding: 5% 0%;
  border-bottom: 1px solid #E9E9E9;
   tr {
   
    td {  
      vertical-align: top;
    }

    .bonus {
      float: right;
    }

    .typePrize {
      font-size: 14px;
      height: 15px;
    }

    .brandPrize {
      height: 15px;
      font-size: 12px;
      font-weight: 500;
      padding-top: -5px;
    }

    a {
      border-bottom: 2px solid #5697C3;
      color: #5697C3;
      font-size: 12px;
    }
  }
}
// ----------------------5th-Block

.applications{
  text-align: center;
  
  .appPics{
    margin: auto;
    padding-bottom: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;
    }
}
.social{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 5% 0;
  border-bottom: 1px solid #E9E9E9;
}
.rulesAndInfo{
  width: 90%;
  margin: auto;
  padding: 5% 0;
  border-bottom: 1px solid #E9E9E9;
}
 // -----------------------------FOOTER 
footer{
    width: 90%;
    margin: auto;
    p{
    font-size: 12px;
  }
}