#iconClass img {
  width: 25px;
  height: 25px; }

li {
  text-decoration: none;
  list-style: none; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "DIN Pro", sans-serif; }
  body a {
    text-decoration: none;
    font-family: "DIN Pro"; }
  body p {
    font-weight: 500;
    font-size: 14px; }
  body .bonus {
    font-size: 12px;
    font-weight: 900;
    color: black;
    width: 34px;
    height: 25px;
    background: linear-gradient(90deg, #E59219 0%, #F5D854 100%);
    border-radius: 13px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  body header {
    font-size: 12px;
    display: flex;
    margin: auto;
    width: 90%;
    height: 60px; }
    body header nav {
      width: 100%;
      display: flex; }
      body header nav :first-child {
        font-size: 30px; }
      body header nav a {
        display: flex;
        align-items: center;
        color: #5698C4;
        font-weight: 900; }
      body header nav .avatar img {
        position: relative;
        width: 32px;
        height: 32px; }
      body header nav #iconClass {
        padding-left: 25%; }

.repostContainer {
  background: #EAEEF1;
  height: 10em;
  padding-top: 8%; }
  .repostContainer .repost {
    padding: 25px 25px;
    font-size: 0.8em;
    background: #fff;
    width: 75%;
    border: 2px solid #5698C4;
    box-sizing: border-box;
    box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.0728034);
    border-radius: 12px;
    margin: 20px auto;
    text-align: center; }
  .repostContainer .bonus {
    margin-bottom: -33px;
    position: relative; }
  .repostContainer .repostButton {
    background-color: #5698C4;
    border-radius: 22.5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: 30%;
    height: 21px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -37px;
    padding: 5px 15px; }

.trainInviteContainer {
  margin: 5% 5%;
  background-color: #F6E4E2;
  justify-content: space-between;
  display: flex; }
  .trainInviteContainer .leftside {
    padding-left: 15px;
    width: 40%;
    padding-bottom: 15px; }
    .trainInviteContainer .leftside #invitation {
      width: 150%;
      font-weight: 900;
      margin-top: 3%; }
    .trainInviteContainer .leftside li {
      padding-top: 5px;
      font-size: 12px; }
      .trainInviteContainer .leftside li img {
        padding-right: 5px;
        width: 10px;
        height: 15px; }
  .trainInviteContainer .rightside {
    position: relative; }
    .trainInviteContainer .rightside img {
      position: absolute;
      padding-top: 0;
      height: 100%;
      right: 0;
      bottom: 0; }
    .trainInviteContainer .rightside .bonus {
      z-index: 1;
      position: relative;
      top: 65%;
      right: 55%; }

.categories {
  width: 90%;
  padding-left: 5%; }
  .categories .first {
    background: linear-gradient(270deg, #F6A997 0%, #CB5433 100%); }
  .categories .second {
    background: linear-gradient(270deg, #F5D854 3.33%, #E97800 100%); }
  .categories .third {
    background: linear-gradient(90deg, #6BA860 0%, #80C5A1 100%); }

.fourth {
  background: linear-gradient(90deg, #5698C4 0%, #AAD2BF 98.78%); }

.fifth {
  background: linear-gradient(90deg, #475C6E 0.7%, #B6D1E8 96.67%); }

h4 {
  font-weight: 500; }

li {
  display: flex;
  border-radius: 22px;
  margin-top: 1%; }
  li a {
    width: 100%;
    padding: 12px 20px;
    color: #ffffff; }
    li a img {
      float: right; }

h2 {
  padding-left: 5%; }

.bonusMenu {
  width: 90%;
  padding-left: 5%;
  display: flex; }
  .bonusMenu a {
    border-bottom: 1px solid #E9E9E9;
    width: 50%;
    padding-bottom: 16px;
    color: #000000; }
  .bonusMenu a:active {
    border-bottom: 2px solid #5697C3;
    color: #5697C3; }

.table {
  width: 90%;
  margin: 5%;
  padding: 5% 0%;
  border-bottom: 1px solid #E9E9E9; }
  .table tr td {
    vertical-align: top; }
  .table tr .bonus {
    float: right; }
  .table tr .typePrize {
    font-size: 14px;
    height: 15px; }
  .table tr .brandPrize {
    height: 15px;
    font-size: 12px;
    font-weight: 500;
    padding-top: -5px; }
  .table tr a {
    border-bottom: 2px solid #5697C3;
    color: #5697C3;
    font-size: 12px; }

.applications {
  text-align: center; }
  .applications .appPics {
    margin: auto;
    padding-bottom: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9; }

.social {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 5% 0;
  border-bottom: 1px solid #E9E9E9; }

.rulesAndInfo {
  width: 90%;
  margin: auto;
  padding: 5% 0;
  border-bottom: 1px solid #E9E9E9; }

footer {
  width: 90%;
  margin: auto; }
  footer p {
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */
